

.body-trimmed {
    height: 100vh;
   
    z-index: 0;
    margin-left: 16.5625rem;
    position: relative;
    top: 0;
    transition: all .5s ease;
    padding: 2rem;
}

.body-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}

.body-normal {
    height: 100vh;

    z-index: 0;
    margin-left: 5rem;
    position: relative;
    top: 0;
    transition: all .5s ease;
    padding: 3rem;
}

.body-hidden {
    height: 100vh;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background: #f4f7fa;
}