<div class="profile-feed">
  <div class="post-create">
    <div class="post-input">
      <div class="profile-img" routerLink="/profile">
        <img src="../../assets/images/user.png" alt="" />
      </div>
      <div class="post-input-div">
        <textarea
          #txtFld
          (click)="openDialog(txtFld)"
          class="post-input-text"
          placeholder="What's on your mind?"
        ></textarea>
      </div>
    </div>
    <div class="post-options">
      <div class="option-icons">
        <div class="icon" title="Photo">
          <i class="fas fa-image fa-lg" style="color: #63e6be"></i>
          <span>Picture</span>
        </div>
        <div class="icon" title="Video">
          <i class="far fa-video fa-lg" style="color: #ffd43b"></i>
          <span>Video</span>
        </div>
        <div class="icon" title="PDF">
          <i class="far fa-file-pdf fa-lg" style="color: #e21d1d"></i>
          <span>PDF</span>
        </div>
        <div class="icon" title="DOC">
          <i class="fal fa-file-word fa-lg" style="color: #0a379e"></i>
          <span>DOC</span>
        </div>
      </div>
    </div>
  </div>
</div>
