.post-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-right: 320px; /* Adjust according to the chart container's width */
}

/* Style for the post card */
.post-card {
  width: 700px;
  margin-left: 380px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-bottom: 3%;
  position: relative;
}

/* Style for the profile image and card header */
.profile-img {
  display: flex;
  align-items: center;
}

.profile-img img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

/* Style for the ellipsis menu */
.ellipsis-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

.ellipsis-icon {
  cursor: pointer;
  border-radius: 50%; /* Make it circular */
  background-color: #f0f0f0;
  padding: 5px; /* Add padding for spacing */
}

/* Style for the dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 60%;
  left: 40%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
}

/* Show the dropdown menu when the ellipsis icon is clicked */
.dropdown-menu.active {
  display: block;
}

/* Style for the dropdown items */
.dropdown-item {
  padding: 6px 10px;
  cursor: pointer;
  font-size: 14px;
}

/* Style for the dropdown items on hover */
.dropdown-item:hover {
  background-color: #f0f0f0;
}

/* Style for the card body */
.card-body {
  padding: 10px;
  margin-top: 10px;
}

.card-body p {
  margin: 0;
}

/* Style for the reaction counts */
.reaction-counts {
  display: flex;
  justify-content: space-between;
}

.reaction-counts p {
  margin: 0;
  font-weight: bold;
}

/* Style for the reaction options */
.reaction-options {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  padding: 5px;
}

/* Style for the reaction button */
.reaction-btn {
  display: flex;
  align-items: center;
  padding: 0.5px;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

/* Style for the reaction button icon */
.reaction-btn .icon {
  margin-right: 5px;
}

.reaction-btn .icon i {
  font-size: 18px;
}

/* Style for the liked icon */
.icon.liked i {
  color: red;
}

.post-date {
  margin-left: 0.5rem;
  font-size: 13px;
}

/* CSS for Comment Section */
.comment-section {
  margin-top: 5px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.comment-section > div {
  margin-bottom: 10px;
}

.comment-section strong {
  font-weight: bold;
}

.comment-section .comment-date {
  font-size: 0.875em;
  color: #777;
}

.comment-section input[type="text"] {
  width: calc(100% - 60px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.add-comment {
  display: flex;
}

.button-post {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.comment-section .button-post:hover {
  background-color: #0056b3;
}

.comment-actions{
  display: flex;
  gap: 1rem;
  align-self: center;
   margin-right: 10px;
}

.comment-action button{
  margin-right: 10px; /* Adjust the margin as needed */
  border: none; /* Remove the border */
  background: none; /* Remove the background */
  cursor: pointer; /* Add cursor pointer */
  font-size: 0.9em;
  color: #777;
  font-weight: bold;
}

.chart-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  margin: 20px; /* Optional: adds some margin around the chart */
}
