<header>
  <h1>Ed Tech</h1>
</header>
<nav>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="dashboard">About</a></li>
    <li><a href="#">Programs</a></li>
    <li><a href="#">Admissions</a></li>
    <li><a href="#">Student Life</a></li>
    <li><a href="#">Research</a></li>
    <li><a href="#">Alumni</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="login">Login</a></li>
    <li><a href="#">Sign Up</a></li>
  </ul>
</nav>
<main>
  <h2>Welcome to EdTech</h2>
  <p>Better than esprit</p>
  <app-create-post></app-create-post>
</main>